body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  color: #24353C
}
h2, h3 {
  text-align: center;
  margin: 10px 0;
  color: #24353C
}

.title-bar {
  background: #24353C;
  color: #FFFFFF;
}

.title-bar h1 {
  margin: 0;
  padding: 5px 0 5px 15px;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.truck-info {
  width: 30%;
  height: 565px;
  padding: 50px 15px;
}

.truck-info div {
  font-size: 20px;
}

.truck-info .truck-name {
  font-size: 34px;
}


.truck-items ul {
  margin-top: 5px;
  list-style-type: none;
}

.truck-items li {
  position: relative;
}

.truck-items li:before {
  content: '';
  position: absolute;
  background: url(../img/utensils.png);
  background-size: contain;
  top: 3px;
  left: -25px;
  height: 20px;
  width: 20px;
}

.no-truck-selected {
  position: relative;
  top: 35%;
}

.no-truck-selected:after {
  content: '';
  background: url(../img/food-truck-large.png);
  position: absolute;
  height: 125px;
  width: 125px;
  text-align: center;
  background-size: contain;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hidden {
  visibility: hidden;
}

.map-container {
  position: relative;
  padding-right: 10px;
  height: 565px;
  width: 70%;
}